body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#estado {
  margin-top: 20px;
  color: #0f0;
}
